---
---

@import "{{ site.theme }}";

.page-header {
    background-position: center center;
    background-image: url("https://res.cloudinary.com/jonasbn/image/upload/h_512,q_auto:low,c_fill,g_center,e_blur:200/tim-mossholder-C8jNJslQM3A-unsplash_zkhz2a.jpg");
    left: 0;
    right: 0;
    background-color: #fff;
}

.main-content {
    h1, h2, h3, h4, h5, h6 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        color: #222;
    }
}

.btn {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}

.project-tagline {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    margin-top: 0px;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.project-name {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.2);
    border-width: 1px;
    margin-bottom: 0px;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    opacity: 0.7;
}
