name: CI
on:
  push:
  schedule:
    - cron: '0 0 */28 */1 *'

jobs:
  dzil:
    runs-on: ubuntu-latest
    name: "dzil run"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v6
      - name: "Installing dependencies and testing all using dzil"
        uses: jonasbn/github-action-perl-dist-zilla@0.5.5
        with:
          dzil-arguments: 'test'
