name: CI
on:
  push:
  schedule:
    - cron: '0 0 */28 */1 *'

jobs:
  dzil:
    runs-on: ubuntu-latest
    name: "dzil run"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: "Installing dependencies and testing all using dzil"
        uses: jonasbn/github-action-perl-dist-zilla@fea791c6197b8fa3f83420be200613050ae11235 # 0.5.5
        with:
          dzil-arguments: 'test'
